
    <div class="comment panel panel-default">
      <button type="button" id="del" ng-click="$ComCtrl.remove()">X</button>
      <button class="fa fa-pencil" type="button" id="edit" ng-click="isShow=!isShow"></button>
      <div class="panel-heading" ng-bind="$ComCtrl.item.author"></div>
      <div class="panel-body" id="textEdit" ng-bind="$ComCtrl.item.text" ng-show="!isShow"></div>

      <div  ng-show="isShow">
        <input type="textarea" id="inp" value="" ng-model="$ComCtrl.item.text">
        <div class="editWrapper" ng-click="isShow=!isShow">
          <button type="button" name="button" ng-click="$ComCtrl.edit()">Редактировать</button>
        </div>
      </div>

      <div class="">
        <button type="button" ng-click="$ComCtrl.plus()">+</button>
        <button type="button" ng-click="$ComCtrl.minus()">-</button>
        <span ng-bind="$ComCtrl.item.rate"></span>
      </div>
    </div>
