  <div id="commentsContainer">
  <h3>Комментарии ({{$ctrl.items.length}}):</h3>
  <div ng-repeat="comment in $ctrl.items track by $index">
    <comment item="comment"></comment>
  </div>
  <input type="textarea" size="50" value="" id="addButton" ng-model="$ctrl.item.text" placeholder="Присоединиться к обсуждению">
  <input type="submit" name="name" value="Добавить" ng-click="$ctrl.add()">
  </div>
