<div id="showSidebar">
<<<<<<< HEAD
  <button type="button" class="fa fa-bars" ng-click="isActive=!isActive"></button>
=======
  <button type="button" class="fa fa-bars" ng-click="isActive=!isActive">
  </button>
>>>>>>> b33a5bd06d6fbed74a1708201575e2125726c07b
  <div class="sidebar" ng-show="isActive">
    <ul class="nav nav-pills nav-stacked">
      <h2>Навигаця по главе</h2>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
<<<<<<< HEAD
=======

>>>>>>> b33a5bd06d6fbed74a1708201575e2125726c07b
  </div>
</div>
