<div class="search">
  <button type="button" class="fa fa-search" aria-hidden="true"  ng-click="isShow=!isShow"></button>
  <span ng-show="isShow">
    <input type="textarea" size="20" value="" placeholder="Поиск по главам" ng-model="searchText">
    <input type="submit" value="Найти">
  </span>
</div>
