html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul{
  list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/*-------RESET---------*/
body, #page_wrapper{
  height: 100%;
}


h3{
  font-size: 30px;
  color:#008B8B;
}

h2{
  font-size: 20px;
  color:#008B8B;
}

header{
  padding:20px;
  width:100%;
  border-bottom: #ccc solid 1px;
}

    .menu{
      margin-bottom:0;
      margin-left: 100px;
    }

        .menu-item{
          display: inline-block;
          width:10%;
          text-align: center;
        }

            a.menu-item:hover{
              color:red;
            }

    .search{
    position: absolute;
    right:20px;
    top:30px;

    }

    .fa.fa-search{
      position:absolute;
      right:350px;
    }

    .hideSearch{
      position:absolute;
      right: 0;
    }

#main{
  max-width: 800px;
  margin:auto;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 90px;
}

#commentsContainer{
  padding: 20px;
  margin-top: 100px;
}

  .comment{
    position:relative;
  }
      .comment #del{
        position: absolute;
        right:20px;
      }

      .comment #edit{
        position: absolute;
        right:60px;
      }

      .comment .editWrapper{
        display: inline-block;
      }

  #photo{
    width: 200px;
    height: 200px;

  }

      #photo img{
        min-width: 100px;
        min-height: 100px;
        max-width: 100%;
        max-height: 100%;
      }

  #showSidebar{
    position: absolute;
    left: 100px;
    top:100px;
  }
      #showSidebar .fa.fa-bars{
        position: absolute;
        left:140px;
      }

      .sidebar {
        position: fixed;
        width: 240px;
        height:1000px;
        background-color: #ccc;
        border-right: black solid 1px;
        top:80px;
        left:0;
      }


  footer{
    background-color: #ccc;
    height: 80px;
    /*margin-top: -80px;*/
