<div id="photo">
  <img ng-src="{{$ctrl.item.image}}" alt="Фото не загрузилось" />
  <div>
    <button type="button" ng-click="$ctrl.plus()">+</button>
    <button type="button" ng-click="$ctrl.minus()">-</button>
    <span ng-bind="$ctrl.item.rate"></span>
  </div>
</div>
